<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>928113493849-4vfe1nvrnmigvd2uhm1fm58pts7epsd2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.928113493849-4vfe1nvrnmigvd2uhm1fm58pts7epsd2</string>
	<key>API_KEY</key>
	<string>AIzaSyD5SguxVKOM2PCOFZruIaKwvdtCgJT4LxU</string>
	<key>GCM_SENDER_ID</key>
	<string>928113493849</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.ios</string>
	<key>PROJECT_ID</key>
	<string>fir-demo-1cfbe</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-demo-1cfbe.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:928113493849:ios:2c70e3be311723d68b2e48</string>
</dict>
</plist>